
/* eser 1 solution */
.ex-1-square:hover{
  background-color: red;
  transition: 2s;
}

/* eser 2 solution */
.ex-2-square:active{
  width: 100%;
  transition: 3s ease;
}

/* eser 3 solution */
.ex-3-square:hover{
  border-radius: 50%;
  transition: 0.5s ease;
}

/* eser 4 solution */
.ex-4-square:hover{
  opacity: 0;
  transition: 1s ease;
}

